.card {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.text-center {
  margin-bottom: 20px;
}

.label-name {
  margin-left: 85px;
}

.label-mobile {
  margin-left: 50px;
}

.label-email {
  margin-left: 55px;
}

.label-pass {
  margin-left: 70px;
}

.form-check {
  margin-left: 40px;
}

.login-btn {
  margin-left: 70px;
  margin-top: 10px;
}

.form-control {
  text-align: center;
}

.login-link-text {
  margin-top: 20px;
}
